*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    background: radial-gradient(circle at left,#2b2d42,#000);
    color: #fff;
    line-height: 1.6;
    overflow: scroll;
}
header{
    width: 100%;
    padding: 20px 50px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
.nav-links a{
    color: #b11212;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}
.nav-links a.active{
    background: #1e90ff;
    color: #000;
    padding: 5px 10px;
    font-weight: bold;
}
.nav-links a.contact{
    color: #1e90ff;
    border-bottom: 1px solid #1e90ff;
}
.nav-links:hover{
    color: #000;
    background: #1e90ff;
    cursor: pointer;
}
.hero{
    display: flex;
   
    justify-content: space-between;
    padding: 50px;
   
}

.intro{
    color: #1e90ff;
    font-size: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
.hero h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;

}
.tagline{
    display: inline-block;
    background: #1e90ff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.desc{
    font-size: 18px;
    color: #bbb;
}
.profile{
    text-align: center;
    
    padding: 10px;
    border-radius: 200px;
    
}
.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #8d0909;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    min-height: 100vh;
}
.about-text{
    max-width: 50%;
    padding-left: 40px;
}
.about-text h2{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.line{
    width: 800px;
    height: 4px;
    background: #1e90ff;
    margin: 15px 15px;
}
.about-text p{
    font-size: 20px;
    color: #b94f4f;
}
.about-text h3{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;

}
.skills span{
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
    transition: 0.3s;
}
.skills span:hover{
    color: #000;
    background: #1e90ff;
    cursor: pointer;
}
footer{
    background: #0a0a0a;
    padding: 30px 50px;
    text-align: center;

}
.footer-content{
    max-width: 900px;
    margin: auto;
}
.footer-content p{
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
}
.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.socials li a{
    color: #1e90ff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.socials li a:hover{
    color: #fff;
}
